In [3]:
# Import necessary packages
from matplotlib.axes._axes import _log as matplotlib_axes_logger
import os
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import earthpy as et

# Handle date time conversions between pandas and matplotlib
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

# Dealing with error thrown by one of the plots
matplotlib_axes_logger.setLevel('ERROR')
import warnings
warnings.filterwarnings('ignore')


# Adjust font size and style of all plots in notebook with seaborn
sns.set(font_scale=1.5, style="whitegrid")

In [4]:
# Set working directory
os.chdir(os.path.join(et.io.HOME, 'nyu', 'rbda_project_data'))

In [5]:
# Create a path to the pre-fire MODIS h4 data
modis_c6_path = os.path.join("modis_c6_from_firms_11_25",
                             "DL_FIRE_M6_167819", 
                             "fire_archive_M6_167819.csv")

In [14]:
modis_c6_data = pd.read_csv(modis_c6_path,
                            parse_dates=['acq_date'],
                            index_col=['acq_date']
                            )

In [15]:
modis_c6_data

,latitude,longitude,brightness,scan,track,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
acq_date,,,,,,,,,,,,,,
2000-11-16,40.2989,-120.5715,300.7,1.1,1.0,1903,Terra,MODIS,35,6.03,273.1,9.8,D,0
2000-11-16,40.2973,-120.5589,325.8,1.1,1.0,1903,Terra,MODIS,84,6.03,274.7,32.4,D,0
2000-11-16,39.9942,-123.9034,326.6,1.5,1.2,1903,Terra,MODIS,85,6.03,280.1,52.0,D,0
2000-11-16,39.9971,-123.9139,338.5,1.5,1.2,1903,Terra,MODIS,91,6.03,280.2,80.9,D,0
2000-11-16,39.7069,-122.1806,301.7,1.2,1.1,1903,Terra,MODIS,49,6.03,286.3,6.9,D,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-07-31,41.1497,-123.4166,314.9,1.3,1.1,2138,Aqua,MODIS,17,6.03,303.4,9.6,D,0
2020-07-31,41.1613,-123.4044,318.3,1.3,1.1,2138,Aqua,MODIS,40,6.03,305.9,15.5,D,0
2020-07-31,41.1874,-123.4533,315.5,1.3,1.1,2138,Aqua,MODIS,21,6.03,297.2,13.3,D,0
2020-07-31,41.1859,-123.4677,322.3,1.3,1.1,2138,Aqua,MODIS,69,6.03,299.6,22.4,D,0
2020-07-31,41.1960,-123.4694,324.0,1.3,1.1,2138,Aqua,MODIS,63,6.03,298.7,24.7,D,0

In [12]:
modis_c6_data.describe()

,latitude,longitude,brightness,scan,track,acq_time,confidence,version,bright_t31,frp,type
count,190916.000000,190916.000000,190916.000000,190916.000000,190916.000000,190916.000000,190916.000000,1.909160e+05,190916.000000,190916.000000,190916.000000
mean,38.040156,-120.657151,331.601759,1.642186,1.220065,1564.434589,72.914119,6.030000e+00,297.610524,103.631611,0.062860
std,2.588775,2.035685,28.753853,0.846242,0.256110,616.810333,24.158319,2.133233e-11,11.400617,298.067036,0.349082
min,32.517200,-124.326500,300.000000,1.000000,1.000000,458.000000,0.000000,6.030000e+00,265.300000,0.000000,0.000000
25%,36.131000,-122.475250,312.400000,1.100000,1.000000,949.000000,57.000000,6.030000e+00,290.300000,14.300000,0.000000
50%,38.332300,-120.729800,324.200000,1.300000,1.100000,1903.000000,76.000000,6.030000e+00,296.200000,30.300000,0.000000
75%,40.311300,-119.244600,340.900000,1.900000,1.300000,2059.000000,96.000000,6.030000e+00,303.700000,76.200000,0.000000
max,41.989400,-114.201600,505.000000,4.800000,2.000000,2219.000000,100.000000,6.030000e+00,400.100000,11944.200000,3.000000

In [13]:
modis_c6_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190916 entries, 0 to 190915
Data columns (total 15 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   latitude    190916 non-null  float64
 1   longitude   190916 non-null  float64
 2   brightness  190916 non-null  float64
 3   scan        190916 non-null  float64
 4   track       190916 non-null  float64
 5   acq_date    190916 non-null  datetime64[ns]
 6   acq_time    190916 non-null  int64
 7   satellite   190916 non-null  object
 8   instrument  190916 non-null  object
 9   confidence  190916 non-null  int64
 10  version     190916 non-null  float64
 11  bright_t31  190916 non-null  float64
 12  frp         190916 non-null  float64
 13  daynight    190916 non-null  object
 14  type        190916 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(3), object(3)
memory usage: 21.8+ MB